<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Sans-serif;
        }

        
        html {
            width: 100%;
            height: 1000px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(16, 3, 48, 0.9);
        }
        body {
            width: 90%;
            height: 100%;

        }

        .header {
            background-color: lightskyblue;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .list-group span {
            font-size: 20px;
            padding-left: 20px;
        }
    
        .speciality-list{
            padding-left: 30px;
        }
        a{
            color: black;
        }
       
    </style>
</head>

<body>
    <div>
        <button type="button" class="btn btn-primary">
            <!-- 跳转至主接口 -->
            <a href="/">返回首页</a>
        </button>
    </div>
    <div class="page-header header">
        <h1>个人主页<small>Welcome</small></h1>
    </div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">my name:<span>
                <%= selfObj.name %>
            </span></li>
        <li class="list-group-item list-group-item-info">my age:<span>
                <%= selfObj.age %>
            </span></li>
        <li class="list-group-item list-group-item-warning">my speciality:
            <div class="jumbotron">
                <h1>Personal strengths</h1>
                <ul class="speciality-list">
                    <% selfObj.speciality.forEach((item,index)=>{ %>
                        <li>
                            <%= item %>
                        </li>
                        <% }) %>
                </ul>
               
                
            </div>
        </li>
        <li class="list-group-item list-group-item-danger">my hobby:
            <div class="jumbotron">
               <p><%= selfObj.hobby %></p>
                
            </div>
        </li>
    </ul>

    
</body>

</html>