<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Sans-serif;
        }

        body,
        html {
            width: 100%;
            height: 100%;
        }

        /* 清除a标签的默认样式 */
        a {
            text-decoration: none;
            color: black;
        }

        .top-nav{
            width: 60%;
            height: 40px;
            margin-bottom: -30px;
            display: flex;
            justify-content: space-around;
        }

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .btns {
            height: 40px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .btns button {
            font-size: 15px;
            height: 30px;
            width: 75px;
        }

        .index-pages-wrap {
            margin-top: 10px;
        }

        .index-pages-wrap .index-pages-list .index-page-item {
            height: 150px;
            padding-left: 20px;
            margin-top: 20px;
        }
        .index-pages-wrap .titlea{
            font-size: 18px;

        }
        .index-pages-wrap .titlea:hover{
            color:lightsteelblue
        }

        /* 设置文本超过两行省略 */
        .index-pages-wrap .index-content-show {
            width: 90%;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            padding-top: 10px;
        }
        .index-pages-wrap .index-content-show:hover{
            color: black;
            text-decoration: none;
        }

        .index-pages-wrap .index-page-item-foot {
            margin-top: 20px;
            padding-left: 20px;
        }

        .index-pages-wrap .index-page-item-foot button {
            margin-right: 5px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
</head>

<body>
    
    <div class="top-nav">
        <button class="btn btn-success">
            <!-- get请求的login接口 -->
            <a href="/admin/login">登录</a>
        </button>
        <button class="btn btn-info">
            <a href="/admin">管理员界面</a>
        </button>
        <button class="btn btn-warning">
            <a href="/authorPage">我的主页</a>
        </button>
        <button class="btn btn-primary">
            <a href="/write">发表文章</a>
        </button>
    </div>
    <div class="page-header header">
        <h1>BLOG首页<small>Welcome</small></h1>
    </div>
    <div class="btns">
        <!-- 点击btn，请求响应的接口，把传过来的数据渲染上去 -->
        <button category="js">js</button>
        <button category="nodeJS">nodeJS</button>
        <button category="http">http</button>
        <button category="ajax">ajax</button>
        <button category="express">express</button>
        <button category="mongodb">mongodb</button>
        <button category="jquery">jquery</button>
        <button category="react">react</button>
        <button category="vue">vue</button>
    </div>
    <div class="index-pages-wrap">
        <ul class="index-pages-list">
            <!-- 模板 -->
            <!-- <li class="index-page-item">
                <h2 class="textShow">title</h2>
                如果此时文本超过2行，则多余的部分将自动显示为省略号
                <span class="index-content-show textShow">content
                    lorem100
                </span>
                <div class="index-page-item-foot">
                    图标  
                    <button>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        <span>2赞</span>
                    </button>
                    <button>
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                        <span>0踩</span>
                    </button>
                    <button>
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        <span>8评论数</span>
                    </button>
                    <button><span>作者名</span></button>
                </div>
            </li> -->
        </ul>
    </div>
    <div class="index-pages-wrap">
        <ul class="index-pages-list">

            <% allArticlesArr.forEach((item,index)=>{ %>
                <li class="index-page-item"><a class="titlea" href=" /page?id=<%=item._id %>">
                        <%= item.title %>
                    </a>
                    <a class="index-content-show" href=" /page?id=<%=item._id %>"><%= item.content %></a>
                </li>
                <% }) %>

            
        </ul>
    </div>

    <script>
        var btnsWrap = document.getElementsByClassName('btns')[0]
        var btns = btnsWrap.getElementsByTagName('button')

        var indexPagesList = document.getElementsByClassName('index-pages-list')[0]

        // 给btn挂监听器：点击btn，请求响应的接口
        var addEventListenerForBtn = function () {
            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener('click', function () {
                    var categoryName = this.getAttribute('category')
                    requestFun(categoryName)
                })
            }
        }

        // 请求数据
        var requestFun = function (categoryName) {
            $.ajax({
                url: 'http://localhost:9999/filterArticles',
                type: 'get',
                data: {
                    names: categoryName
                },
                success: function (e) {
                    renderIndexPages(e, categoryName)
                }
            })
        }

        // 渲染数据
        var renderIndexPages = function (pagesArr, categoryName) {
            var str = ''
            pagesArr.forEach((item, index) => {
                str += `
                <li class="index-page-item" id=${item._id}>
                    <a class="titlea" href="/page?id=${item._id}&&names=${categoryName}">${item.title}</a>
                    <a class="index-content-show" href="/page?id=${item._id}&&names=${categoryName}">${item.content}</a>
                    <div class="index-page-item-foot">
                        <button class="goodBtn" id=${item._id}>
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <span class="goodNumber">${item.good}</span>
                            <span>赞</span>
                        </button>
                        <button class="badBtn" id=${item._id}>
                            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                            <span class="badNumber">${item.bad}</span>
                            <span>踩</span>
                        </button>
                    <button>
                        <a href="/authorPage">${item.author}</a>
                    </button>
                </div>
                </li> 
                `
            })
            indexPagesList.innerHTML = str

            // 要给赞，踩按钮挂监听器
            addEventListenerForFootBtn(categoryName)

        }



        // 给每篇文章都挂上监听器
        var addEventListenerForFootBtn = function (categoryName) {

            // 获取goodBtn集合。而不必单个item里获取
            var goodBtn = document.getElementsByClassName('goodBtn')

            var badBtn = document.getElementsByClassName('badBtn')

            var goodNumber=document.getElementsByClassName('goodNumber')

            var badNumber=document.getElementsByClassName('badNumber')

            for (let k = 0; k < goodBtn.length; k++) {
                // 给单个goodBtn挂监听器.点击 -> 请求赞接口(把文章id,种类名，点赞数传过去) -> 修改数据库中的数据
                goodBtn[k].addEventListener('click', function () {
            
                    var goodNum = parseFloat(goodNumber[k].innerText)
                    
                    goodNumber[k].innerText = goodNum + 1
        
                    let pageId = this.getAttribute('id')
            
                    requestClickFun(pageId, categoryName, goodNum, 'good')

                })
                // 给单个badBtn挂监听器.点击 -> 请求踩接口(把文章id,种类名,踩数传过去) -> 修改数据库中的数据
                badBtn[k].addEventListener('click', function () {
                    var badNum=parseFloat(badNumber[k].innerText)
                    badNumber[k].innerText=badNum+1
                    let pageId = this.getAttribute('id')
                    requestClickFun(pageId, categoryName,badNum, 'bad')
                })
            }
        }

        var requestClickFun = function (pageIDd, categoryName, number2, str2) {
            $.ajax({
                url: `http://localhost:9999/${str2}`,
                type: 'post',
                data: {
                    names: categoryName,
                    id: pageIDd,
                    number1: number2 + 1
                },
                success: function (e) {
                    // console.log(e);
                }
            })
        }


        // 初始化函数
        var init = function () {
            addEventListenerForBtn()
        }
        init()
    </script>
</body>

</html>