<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Sans-serif;
        }


        html {
            width: 100%;
            height: 2000px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(16, 3, 48, 0.9);

        }

        body {
            width: 80%;
            height: 100%;

        }

        a {
            color: black;
        }

        .page-header {
            padding: 0px 20px;
        }

        .content {
            padding: 20px 50px;
            font-size: 16px;
            font-family: 'SimHei';
        }

        .add-command-wrap {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

        textarea {
            width: 100%;
            height: 100px;
        }

        .show {
            padding: 10px 30px;
        }
        .show ul{
            list-style: none;
        }

        .comment-item {
            height: 100px;
            background-color: coral;
            margin-top: 10px;
        }
    
        .comment-item .span1{
            font-size: 20px;
            padding-left: 20px;
        }
        .comment-item .span2{
            font-size: 10px;
            margin-left: 40px;
        }

        .comment-item p{
            margin-top: 6px;
        }
    </style>
</head>

<body>
    <div>
        <button type="button" class="btn btn-primary">
            <!-- 跳转至主接口 -->
            <a href="/">返回首页</a>
        </button>
    </div>

    <div class="page-header">
        <h1>
            <%= oneArticleObj.title %> <small>-<%= oneArticleObj.author %></small>
        </h1>
    </div>


    <div class="content">
        <%= oneArticleObj.content %>
    </div>

    <h2>添加评论</h2>
    <div class="add-command-wrap">
        <form action="/addCommand" method="post">
            <!-- 要把文章id,种类跟随form表单一起提交上去 -->
            <input class="idinput" type="text" name="articleId" value="<%= oneArticleObj._id %>" style="display:none">
            <input class="nameinput" type="text" name="kindName" value="<%= KindName %>" style="display:none">

            <textarea name="commentContent" placeholder="请输入内容"></textarea>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">@</span>
                <input type="text" name="commentAuthor" class="form-control" placeholder="email"
                    aria-describedby="sizing-addon2">
            </div>


            <!-- form表单的提交按钮 -->
            <br>
            <button type="submit">submit</button>
        </form>
    </div>


    <h2>展示评论</h2>
    <div class="show">
        <ul class="commentList">
            <!-- <li>评论</li> -->
            <!-- <li class="conment-item">
                <p>${item.commentAuthor} <span>${item.commentTime}</span></p>
                <p>${item.commentContent}</p>
            </li> -->
        </ul>
    </div>
    <script>
        var commentList = document.getElementsByClassName('commentList')[0]
        var idInput = document.getElementsByClassName('idinput')[0]
        // 获取文章id
        // 根据文章id(articleId)查找评论
        var idStr = idInput.getAttribute('value')

        var getConments = function () {
            $.ajax({
                url: 'http://localhost:9999/admin/getOnePageCommand',
                type: 'post',
                data: {
                    id: idStr
                },
                success: function (e) {
                    renderConments(e)

                }
            })
        }
        var renderConments = function (commandsArr) {
            var str = ''
            commandsArr.forEach((item, index) => {
                str += `
                <li class="comment-item">
                    <span class="span1">${item.commentAuthor} </span>
                    <span class="span2">${item.commentTime}</span>
                
                    <p>${item.commentContent}</p>
                    </li>
                `
            })
            commentList.innerHTML = str
        }
        // 页面初始化
        var init = function () {
            getConments()
        }
        init()
    </script>
</body>

</html>